.card-deck{
    margin-bottom : 3px;
    margin-top: 3px;
    left:1px;
}
a {
    text-decoration: none;
}

img {
    height: 170px;
    width: 170px;
}
.card-block p {
    font-size: 0.8rem !important;
}
.text-muted-user {
    font-size: 0.7rem !important;
}
