<app-inventory-date-range (changeDates)="getData($event)" (getInventoriesOut)="getInventoriesOut($event)" [inventories]="inventories" (getInventoriesOut2)="getInventoriesOut2($event)" [inventories2]="inventories2" [dates]="dates"></app-inventory-date-range>
<br>

<app-dialog [addDate]="addDate" [editInvent]="editInvent" [(visible)]="showDialog">
    <div *ngIf="addDate.length">
      <h6>Dodawanie inwentaryzacji w dniu {{addDate}}</h6>
      <app-inventory-form [addDate]="addDate"></app-inventory-form>
    </div>

    <div *ngIf="editInvent.length">
      <div *ngFor="let invent of editInvent">
      <h6>Edycja inwentaryzacji o id: {{invent.id}}</h6>
        <p>{{invent.PSD}}</p>
        <app-inventory-form [invent]="invent"></app-inventory-form>
      </div>
    </div>
</app-dialog>

<div class="row">
  <app-panel class="col-lg-4">
    <div class="card">
      <h4 ngProjectAs="panel-header">
        <app-panel-inv-close></app-panel-inv-close>
        {{persons[0]}}
      </h4>

      <br>

      <app-panel-date *ngFor="let date of dates">
        <h6 class="card-header {{date.day}}">{{date.date}}<span class="pull.right">{{date.month}}</span>
        </h6>

        <app-panel-invent>
          <table class="table table-sm">
            <tbody>
              <tr class="{{invents.type}}" *ngFor="let invents of date.invents;" (click)="OpenDialog(invents)">
                <td>{{invents.PSD}}</td>
                <td>{{invents.NPSD}}</td>
                <td class="{{invents.status}}">{{invents.status}}</td>
              </tr>
            </tbody>
          </table>
        </app-panel-invent>


        <div class="card-footer">
            <button type="button" class="btn btn-light btn-sm btn-block" (click)="OpenDialog(date)">Dodaj</button>
          <!--<a class="botton-footer" (click)="OpenDialog(date)">Dodaj</a>-->
        </div>
      </app-panel-date>

    </div>
  </app-panel>

  <app-panel class="card-deck col-lg-4">
    <div class="card">
      <h4 ngProjectAs="panel-header">
        <app-panel-inv-close></app-panel-inv-close>
        {{persons[1]}}
      </h4>

      <br>

      <app-panel-date *ngFor="let date of dates">
        <h6 class="card-header">{{date}}
          <app-panel-inv-close></app-panel-inv-close>
        </h6>

        <app-panel-invent *ngFor="let invent of inventsP">
          {{invent}}
          <app-panel-inv-close></app-panel-inv-close>
        </app-panel-invent>
        <div class="card-footer">
          <input (keyup.enter)="
        inventsA.push(itemNameRef.value);
        itemNameRef.value = ''
      " #itemNameRef class="form-control">
        </div>
      </app-panel-date>

    </div>
  </app-panel>

  <app-panel class="card-deck col-lg-4">
    <div class="card">
      <h4 ngProjectAs="panel-header">
        <app-panel-inv-close></app-panel-inv-close>
        {{persons[2]}}
      </h4>

      <br>

      <app-panel-date *ngFor="let date of dates">
        <h6 class="card-header">{{date}}
          <app-panel-inv-close></app-panel-inv-close>
        </h6>

        <app-panel-invent *ngFor="let invent of inventsM">
          {{invent}}
          <app-panel-inv-close></app-panel-inv-close>
        </app-panel-invent>
        <div class="card-footer">
          <input (keyup.enter)="
        inventsA.push(itemNameRef.value);
        itemNameRef.value = ''
      " #itemNameRef class="form-control">
        </div>
      </app-panel-date>

    </div>
  </app-panel>
</div>