<div class="row">
  <app-panel class="card-deck col-lg-3">
    <div class="card">
      <h4 ngProjectAs="panel-header">      
          <app-panel-inv-close></app-panel-inv-close> 
          Adam Kozicki
      </h4>

      <br>

      <app-panel-date *ngFor="let date of dates">
        <h6 class="card-header">{{date}} <app-panel-inv-close></app-panel-inv-close></h6>
        
        <app-panel-invent *ngFor="let invent of invents">
          {{invent}} <app-panel-inv-close></app-panel-inv-close>
        </app-panel-invent>
        <div class="card-footer">
          <input (keyup.enter)="
        invents.push(itemNameRef.value);
        itemNameRef.value = ''
      " #itemNameRef class="form-control">
        </div>
      </app-panel-date>

    </div>
  </app-panel>

  <!--<app-panel class="card-deck col-lg-3">
    <div class="card">
      <h4 ngProjectAs="panel-header">      
          <app-panel-inv-close></app-panel-inv-close> 
          Piotr Bińkowski
      </h4>

      <br>

      <app-panel-date *ngFor="let date of dates">
        <h6 class="card-header">{{date}}</h6>
        <app-panel-inv-close></app-panel-inv-close>
        <app-panel-invent *ngFor="let invent of invents">
          <app-panel-inv-close></app-panel-inv-close>
          {{invent}}
        </app-panel-invent>
        <div class="card-footer">
          <input (keyup.enter)="
        invents.push(itemNameRef.value);
        itemNameRef.value = ''
      " #itemNameRef class="form-control">
        </div>
      </app-panel-date>

    </div>
  </app-panel>

  <app-panel class="card-deck col-lg-3">
    <div class="card">
      <h4 ngProjectAs="panel-header">      
          <app-panel-inv-close></app-panel-inv-close> 
          Marta Raczyńska
      </h4>

      <br>

      <app-panel-date *ngFor="let date of dates">
        <h6 class="card-header">{{date}}</h6>
        <app-panel-inv-close></app-panel-inv-close>
        <app-panel-invent *ngFor="let invent of invents">
          {{invent}}
        </app-panel-invent>
        <div class="card-footer">
          <input (keyup.enter)="
        invents.push(itemNameRef.value);
        itemNameRef.value = ''
      " #itemNameRef class="form-control">
        </div>
      </app-panel-date>

    </div>
  </app-panel>-->
</div>